NODE_ENV=development
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=YOUR_PRISMA_ACCELERATE_API_KEY"
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=GENERATE_WITH_OPENSSL_OR_NODE
GITHUB_CLIENT_ID=Iv1_examplegithubclientid
GITHUB_CLIENT_SECRET=examplegithubclientsecret
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_DISABLE_DEVTOOLS=false
NEXT_PUBLIC_SENTRY_DSN=https://examplePublicKey@o0000000000000000.ingest.sentry.io/0000000
SENTRY_RELEASE=blog-post@1.0.0
SENTRY_AUTH_TOKEN=sntrys_exampleauthtoken
SENTRY_ORG=example-org
SENTRY_PROJECT=example-project
