NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/blog_post
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blog_post
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=GENERATE_WITH_OPENSSL_OR_NODE
SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-app-password-here
SMTP_HOST=smtp.example.com
SMTP_PORT=example
SMTP_FROM=your-email@gmail.com
GITHUB_CLIENT_ID=Iv1_examplegithubclientid
GITHUB_CLIENT_SECRET=examplegithubclientsecret
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_DISABLE_DEVTOOLS=false
NEXT_PUBLIC_SENTRY_DSN=https://examplePublicKey@o0000000000000000.ingest.sentry.io/0000000
SENTRY_RELEASE=blog-post@1.0.0
SENTRY_AUTH_TOKEN=sntrys_exampleauthtoken
SENTRY_ORG=example-org
SENTRY_PROJECT=example-project
ADMIN_EMAIL=email@example.com
DOMAIN=example.com
EMAIL=example@example.com
NEXT_PUBLIC_GOOGLE_RECAPTCHA_PUBLIC_KEY=blabl
GOOGLE_RECAPTCHA_SECRET_KEY=blabla
REDIS_URL=redis://localhost:6379
